/*  Codeptive main styles & overrides */

/* GLOBALS */

body {
    -webkit-font-smoothing: antialiased;
    background-color: #fcfbff;
}

h1, h2, h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400 !important;
}

h1 {
    letter-spacing: 0;
    font-size: 42px;
}

h2 {
    color: #fefefe;
    line-height: 26px;
    letter-spacing: 0;
    font-size: 24px;
}

h3 {
    color: #fefefe;
    line-height: 18px;
    font-size: 18px;
}

img {
    vertical-align: middle;
}

.shadow-text {
    text-shadow: 6px 6px 22px #000;
}

.underline-anchor:hover span {
    text-decoration: underline !important;
}

.logo{
    transition: .1s all ease !important;
}

/* BUTTONS & FONTS */

.button, section#contact form input.button1 {
    background: #686abe;
    border: 1px solid #686abe;
    border-radius: 4px;
}

a.button {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px;
    font-weight: 400;
    color: unset !important;
}

.button:hover {
    background: #7a7cd6;
}

.blue-button {
    background: #5984d4;
    border: 1px solid #5984d4;
    border-radius: 2px;
    box-sizing: border-box;
    transition: .1s all ease;
}

.purple-button {
    background: #40BF73;
    border: 1px solid #40BF73;
    border-radius: 2px;
    box-sizing: border-box;
}

.lt-grey-button {
    background: #8f9fb0;
    border: 1px solid #8f9fb0;
    border-radius: 2px;
    box-sizing: border-box;
}

.white-font {
    color: #fff !important;
}

.lt-grey-font {
    color: #ddd;
    font-size: 16px;
}

.red-font {
    color: #e868b1 !important;
}

.blue-font {
    color: #5688d1 !important;
}

.lt-blue-font {
    color: #69b6ee !important;
}

.lt-blue-font2 {
    color: #5889e6 !important;
}

.green-font {
    color: #19a961 !important;
}

.lt-green-font {
    color: #41ff96 !important;
}

.dk-green-font {
    color: #2cc557 !important;
}


.blue-outline2 {
    font-family: 'Open Sans', sans-serif !important;
    background: none;
    border: 1px solid #8eb0f0;
    border-radius: 4px;
    box-sizing: border-box;
    transition: .1s all ease;
}

.blue-outline2:hover {
    border: 1px solid #adc6f6 !important;
    background: none !important;
}

.green-outline span {
    transition: .1s all ease;
}

.soft-blue-outline {
    background: #fcfbff;
    border: 1px solid #9ebddb !important;
    border-radius: 2px;
    box-sizing: border-box;
}

.white-font-med {
    color: #fff;
    font-size: 12px;
}

.blue-font-large {
    color: #3A5EAD;
    font-size: 16px;
}

.border-left {
    border-left: 1px solid #D8D8D8; 
}

.border-left-strong {
    border-left: 2px solid #eee; 
}

.horizontal-spacer-small {
    margin-left: 5px;
}

.horizontal-spacer-large {
    margin-left: 120px;
}

.button {
    padding: 12px 20px 10px 20px;
    margin-top: 0;
}

.button-hero, .button-hero-alt {
    background: #686abe;
    border: 1px solid #686abe;
    border-radius: 4px;
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    transition: .1s all ease;
    line-height: 30px;
    width: 210px;
    height: 52px;
}

.button-hero:hover {
    background: #7a7cd6;
    border: 1px solid #7a7cd6;
}

.button:hover, .button:active, .button:focus, section#contact form input.button1:hover {
    background: #7a7cd6;
    border: 1px solid #7a7cd6;
}

.blue-button:hover, .blue-button:active, .blue-button:focus {
    background: #77a0ed !important;
    border: 1px solid #77a0ed !important;
}

.green-outline:hover {
    background: none !important;
    border: 1px solid #08c1e9 !important;
}

.green-outline:hover span {
    color: #5ca9dc !important;
}

.btn {
    border-radius: 2px;
    padding: 6px 16px;
}

.icon-adjust-small {
    width: 35px;
}

/* HEADER */

.page-border-top {
    margin: -28px 0 22px;
    z-index: 1000;
    width: 100%;
    height: 5px;
    background: #00d472;
    background: -moz-linear-gradient(left,  #6e94f6 35%, #00d472 93%); 
    background: -webkit-linear-gradient(left,  #6e94f6 35%,#00d472 93%);
    background: linear-gradient(to right,  #6e94f6 35%,#00d472 93%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e94f6', endColorstr='#00d472',GradientType=1 ); 
}

.nav-constraint {
    max-width: 1280px;
}

nav {
    padding: 7px 50px 0 0;
}

.padding-adjust {
    padding-top: 9px;
}

header {
    padding: 26px 0 0 0;
}

header .logo img {
    transition: .1s all ease;
}

header.fix, header {
    background-color: #fcfbff;
}

header.fix {
    padding: 0;
    height: 50px;
}

header.fix .logo img {
    content: url('../img/logo_lockup_main_smaller.png');
    margin-top: 2px;
}

header .button {
    margin-top: 3px;
}

header.fix .button {
    padding: 12px 20px 10px 20px;
    margin-top: 5px;
}

header .sticky {
    
}

.alt-nav-a, nav ul li a {
    font-family: 'Open Sans', sans-serif !important;
}

nav ul li a {
    color: #3A5EAD;
    font-size: 12px;
    font-weight: 700;
}

.alt-nav-a {
    color: #629dc4;
    font-size: 12px;
    font-weight: 700;
}

.alt-nav-a:hover {
    color: #76bdec;
}

.header-shadow {
    -webkit-box-shadow: 0px 1px 1px 0px rgba(38,4,59,0.21);
    -moz-box-shadow: 0px 1px 1px 0px rgba(38,4,59,0.21);
    box-shadow: 0px 1px 1px 0px rgba(38,4,59,0.21);
}

.small-icon {
    width: 20px;
}

.icon-header {
    color: #686abe;
    font-size: 15px;
}

.sub-nav-line {
    border-top: 1px solid #e7ecf2;
    height: 1px;
    background: none;
    margin: 0 15px 22px 15px;
}

/* SUB NAV */

.slogan-sub-nav {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    color: #629dc4;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    vertical-align: baseline; 
}

.social-icon-wrapper {
    margin-top: 5px;
}

.social-icon-small img {
    width: 25px;
}

.align-left {
    text-align: left !important;
}

/* SECTION SEARCH */

#search {
    margin-top: 75px;
    padding: 0 !important;
    z-index: 10;
}

section#search {
    background: #fcfbff;
}

.search-form {
    background-color: #fcfbff;
    height: 83px;
    width: 100%;
    padding-top: 15px;
    text-align: right;
    z-index: 10;
}

.search-box {
    float: right;
}

.outline-search {
    font-family: 'Open Sans', sans-serif !important;
    background: #fcfbff;
    border: 1px solid #8eb0f0 !important;
    border-radius: 2px;
    box-sizing: border-box;
}

.search-icon img {
    margin-right: 4px;
    width: 30px;
}

.solid-pill-search {
    font-family: 'Open Sans', sans-serif !important;
    color: #eee;
    background: #fcfbff;
    border: 1px solid #8eb0f0 !important;
    border-radius: 4px !important;
    box-sizing: border-box;
}

.search-elements {
    height: 40px;
}

.search-panel, .search-elements {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    color: #3b7be3 !important;
}

.form-control {
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    z-index: 10;
    max-width: 70%;
}

.form-control:focus {
    border-color:#66512c;
   -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.small-link-text {
    color: #fff;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
}

/* SECTION TOP */

section#top {
    background: none;
    height: 500px;
    padding-top: 0;
    z-index: 1;
}

.page-title-a {
    height: 500px;
    z-index: 20;
    background-image: url('../img/illustrations/main_illustration_1e.png');
    background-position: 20% 33%;
    background-repeat: no-repeat;
    background-color: #fcfbff;
}

.page-title-b {
    height: 500px;
    z-index: 20;
    text-align: left;
}

.page-heading-top {
    margin-top: 65px;
    color: #4a4c9c;
    font-family: "Open Sans", sans-serif;
    font-weight: 400 !important;
    letter-spacing: -1.5px;
}

.large-text {
    font-size: 24px;
    letter-spacing: .01em;
    margin-top: 15px;
    line-height: 28px;
}

.x-large-text {
    font-size: 34px;
    letter-spacing: .02em;
    margin-top: 8px;
    line-height: 42px;
}

.page-body-text p {
    margin-top: 5px;
    margin-bottom: -12px;
    padding: 13px 0 5px 0;
    color: #6e717f;
}

.diamond {
    padding-top: 28px;
    margin: 60px auto 0 auto;
    background: url('../img/diamond_bg.png') no-repeat;
    width: 168px;
    height: 127px;
}

.page-heading-text {
    margin-top: 5px;
    margin-left: 12%;
    text-align: left;
}

.cta-heading {
    margin: 70px auto 0 auto;
    padding: 10px 20px;
    border: 1px solid #92d1ff;
    border-radius: 2px;
    width: 200px;
    height: 50px;
    background: rgba(10,10,9,0.5);
}

.sub-cta-button {
    margin: 12px 0 0 14px;
}

.sub-cta-button a {
    color: #e868b1;
    font-size: 12px;
}

.cta-buttons {
    margin-top: 40px;
}

.margin-left-med {
    margin-left: 86px;
}

.icon-green-hero {
    color: #41ff96;
    font-size: 20px;
}

.narrow-column {
    width: 40%;
    max-width: 260px;
    text-align: left;
}

/* Custom <li> bullet -> place on parent <ul> class */
.custom-li-chevron, .custom-li-chevron li {
    margin: 0;
    list-style: none;
}

.custom-li-chevron {
    padding: 10px 5px;
    list-style-position: outside;
}

.custom-li-chevron li {
    padding: 10px 0 5px 20px;
}

.custom-li-chevron li span.custom-li-span {
    margin-left: 12px;
    color: #eee;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}

.custom-li-chevron li:before {
  content: '\f0da';
  font-family: 'FontAwesome';
  float: left;
  color: #0074D9;
}

.hero-text {
    margin-left: 12px;
    color: #eee;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}

/* PROMO */

section#promo {
    height: 90px;
    width: 100%;
    background: #473375;
    padding: 0 !important;
}

.tech-list a {
    font-family: "Open Sans", sans-serif !important; 
    font-size: 17px !important;
    color: #a2a4eb !important;
}

.tech-list a:hover {
    color: #c5c7f8 !important;
}

.tech-list ul {
    display: table;
    width: 100%;
}

.tech-list ul li {
    display: table-cell;
    text-align: center;
    width: 4%;
}

.tech-list ul li div {
    margin: 17px 0 6px 0;
}

.tech-list ul li span {
    line-height: 20px;

}

/* HOW IT WORKS */

section#howItWorks {
    padding: 50px 0;
    font-family: "Open Sans", sans-serif !important; 
    text-align: center;
}

/* SECTION PRICING */

.gradient, .shader-gradient {
    background: #3c2968;
}

/* FOOTER (CONTACT) */

section#contact {
    background: #101012;
}

.footer-logo {
    background-image: url('../img/logo_mark.png');
    width: 186px;
    height: 176px;
}


/* MEDIA QUERIES */

@media (min-width: 1200px) {
    .container {
        width: 1280px;
    }
}